body {
    background: lightgrey;
    font: 18px Arial;
}
h1 {
    text-align:left;
	color: Black;
	font: 30px Arial;
	
}
h2 {
    margin: left;
	color: Black;
	font: 14px Arial;
	
}

form {
	margin: auto;
	text-align:center;
}


.container {
    display: flex;
}

.container__sidebar {
    width: 15%;
}

.container__main {
	margin: auto
	text-align:center;
	
    /* Take the remaining width */
    flex: 1;

    /* Make it scrollable */
    overflow: auto;
}
