<html>
    <head>
      <title>Welcome to ChAI</title>
	  <link rel="icon" href="Chai.png" type="image/icon">
	  <link rel="stylesheet" href="styling.css">
    </head>
    <body>
		<h1>
			Canvas Home Assistant Integration
		</h1>
        <hr>	
		<div class="container">
			<!-- Sidebar -->
			<aside class="container__sidebar">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
				{% block content %}{% endblock %}
			</aside>
			
			<!-- Main -->
			<main class="container__main">
				<a href="{{ url_for('index') }}">Home</a>
				{% if current_user.is_anonymous %}
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('verify') }}">New Echo</a>
				{% else %}
				<a href="{{ url_for('setToken') }}">Set Token</a>
				<a href="{{ url_for('logout') }}">Logout</a>
				{% endif %}
			</main>
		</div>
    </body>
</html>
