<html>
    <head>
      <title>Welcome to ChAI</title>
	  <link rel="icon" href="{{ url_for('static', filename='styling.css') }}">
	  <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
    </head>
    <body>
		<h1>
			Canvas Home Assistant Integration
		</h1>
		<h2>
			Software Development Project Group 3: <br /> 
			Sam Carlson, Tyler Ho, Dylan Jezo, Zach Onisick, Sebastian Palacios, Jeffrey Ponce
		</h2>
        <hr>	
		<div class="container">
			<!-- Sidebar -->
			<aside class="container__sidebar">
				<a href="{{ url_for('index') }}">Home</a> <br />
				{% if current_user.is_anonymous %}
				<a href="{{ url_for('login') }}">Login</a> <br />
				<a href="{{ url_for('verify') }}">New Echo</a> <br />
				{% else %}
				<a href="{{ url_for('setToken') }}">Set Token</a> <br />
				<a href="{{ url_for('logout') }}">Logout</a> <br />
				{% endif %}
				{% block content %}{% endblock %}
			</aside>
			
			<!-- Main -->
			<main class="container__main">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
			</main>
		</div>
    </body>
</html>
