{% extends "base.html" %}

{% block content %}
    <h1>Settings</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.token.label }}<br>
            {{ form.token(size=64) }}<br>
            {% for error in form.token.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.passphrase.label }}<br>
            {{ form.passphrase(size=32) }}<br>
            {% for error in form.passphrase.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}